<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <appSettings>
    <add key="id_card" value=""/>
    <add key="user_name" value=""/>
    <add key="phone_no" value=""/>
    <add key="recommend_id" value=""/>
    <add key="word" value=""/>
  </appSettings>
</configuration>