<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <appSettings>
    <add key="id_card" value="XXXXXXXXXXXXXXXXXX"/>
    <add key="user_name" value="张德智"/>
    <add key="phone_no" value="XXXXXXXXXXX"/>
    <add key="recommend_id" value="45"/>
  </appSettings>
</configuration>